{%- assign boxColor = site.data[page.folderName][page.lang][page.fileName].color -%}
<div class="row my-3">
    <div class="col-12 options-title">Enter {{page.convert}} data in textbox below</div>
</div>
<div class="converterBox" style="height: 455px;">
    <textarea style="background-color:{{boxColor}}; height:455px" class=" form-control" name="data-uri"
        id="data-uri"></textarea>
</div>
<input class="d-none" onchange="fileOnChange()" type="file" id="file" accept=".webp,.png,.jpg,.jpeg,.gif" />